
.domus-homeCard {
    box-shadow: 0px 4px 8px;
    width: 450px;
    height: 350px;
    transition: .5s;
    background-color: rgba(255, 255, 255, 0.691);
    grid-template-columns: 350px 350px 350px;
    width: 100%;
    position: relative;
}

.domus-homeCard-picture {
    overflow: fit;
    width: 462px;
    height: 240px;
}

.domus-homeCard-price {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 30px;
    padding-left: 10px;
}

.domus-homeCard-info {
    display: flex;
    flex-direction: row;
    
}

.domus-homeCard-bedrooms {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    display: flex;
    padding-left: 10px;
}

.domus-homeCard-bedroomIcon {
    height: 20px;
    width: 20px;
    padding-right: 5px;
}

.domus-homeCard-bathrooms {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    display: flex;
    padding-left: 10px;
}

.domus-homeCard-bathroomIcon {
    height: 20px;
    width: 20px;
    padding-left: 20px;
    padding-right: 5px;
}

.domus-homeCard-location {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    display: flex;
    padding-left: 10px;
    padding-top: 10px;
    color: gray;
}

.domus-homeCard-locationIcon {
    height: 20px;
    width: 20px;
    padding-right: 5px;
    color: grey;
}

.domus-homeCard:hover {
    box-shadow: 0px 8px 16px;
    transform: scale(1.03);
    overflow: fit;
    transition: all .3s ease-in-out;

}